* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --blanco: #FFF;
    --oscuro: #212121;
    --primario: #ff7ea8;
    --secundario:#ff3e99;
    --terciario:#5f0497;
    --gris:#757575;
    --grisClaro:#DFE9F3;
   } */
   
    html{                                  
       font-size: 62.5%;

       box-sizing: border-box;
   }
   *, *:before, *:after {
       box-sizing: inherit;
     }
   
   
   body{
       font-size: 16px;    
       font-family: 'Montserrat', sans-serif;
       background: rgb(186,0,250);
       background: linear-gradient(90deg, rgba(186,0,250,1) 0%, rgba(246,65,216,1) 50%, rgba(255,0,161,0.850577731092437) 100%);
       background-color: var(--primario);
   } 

   body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a24;
  }
  
  /* ======================== */
  .container {
    position: relative;
    width: 350px;
    height: 400px;
    border: 4px solid var(--primario);
  }
  
  .container::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 15;
    background-color: rgb(0 0 0 / 25%);
    opacity: 0;
    transition: opacity .5s;
  }
  
  .container:hover::after {
    opacity: 1;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: cycle 1.5s linear infinite 0s forwards;
    animation-play-state: paused;
  }
  
  .container:hover .image {
    animation-play-state: running;
  }
  
  .image-1 {
    z-index: 10;
  }
  
  .image-2 {
    z-index: 9;
    animation-delay: .15s;
  }
  
  .image-3 {
    z-index: 8;
    animation-delay: .3s;
  }
  
  .image-4 {
    z-index: 7;
    animation-delay: .45s;
  }
  
  .image-5 {
    z-index: 6;
    animation-delay: .600s;
  }
  
  .image-6 {
    z-index: 5;
    animation-delay: .75s;
  }
  
  .image-7 {
    z-index: 4;
    animation-delay: .900s;
  }
  
  .image-8 {
    z-index: 3;
    animation-delay: 1.05s;
  }
  
  .image-9 {
    z-index: 2;
    animation-delay: 1.2s;
  }
  
  .image-10 {
    z-index: 1;
    animation-delay: 1.35s;
  }
  
  @keyframes cycle {
    from {
      visibility: visible;
      z-index: 11;
    }
  
    to {
      visibility: hidden;
      z-index: 0;
    }
  }

 .title{
    font-size: 50px;
 }
  .title span {
    --total: calc(var(--duration) + var(--delay));
    position: relative;
    display: block;
    color: transparent;
    overflow: hidden;
    animation: revealText 1s var(--total) forwards;
}

.title span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--secundario);
    animation:
        rollIn var(--duration) var(--delay) forwards,
        rollOut var(--duration) var(--total) forwards;
}

.title span:nth-child(2)::after {
    border-top: 3px solid #896ab9;
}

@keyframes revealText {
    to {
        text-align: center;
        color: var(--terciario);
    }
}

@keyframes rollIn {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes rollOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(105%);
    }
}

.send-button {
    text-decoration:none;
    display:inline-block;
    background:#200095;
    padding:8px 12px;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0.5px;
    border-radius:5px;
  }
